
<div class="flex max-md:flex-col w-screen">
    <div class="bg-gray-800 text-white md:w-1/6 md:fixed md:h-screen md:overflow-y-auto ">
      <nav class="flex md:h-screen md:flex-col justify-between p-5 mx-2">
        <div class="md:hidden">
            <h1 class="text-xl">
                Logo
            </h1>
        </div>
        <div class="md:hidden">
            <h1>
                <p class="text-white text-lg">Hamburger</p>
            </h1>
        </div>
        <ul class="max-md:hidden">
          <li class="p-4">
            <a routerLink="/home">Home</a>
          </li>
          <li class="p-4">
            <a routerLink="/about">About</a>
          </li>
          <li class="p-4">
            <a routerLink="/services">Services</a>
          </li>
          <li class="p-4">
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
        <div class="max-md:hidden">
            <a routerLink="/sign-in" class="bg-white px-4 py-1.5 rounded-full text-gray-800">Sign up</a>
        </div>
      </nav>
    </div>


    <div class="md:ml-[16.666%] md:w-full bg-indigo-100 ">
        <div class="">
            <!-- <h1 class="text-3xl font-bold">Content Section</h1> -->
            <router-outlet class=""></router-outlet>
        </div>
    </div>
  </div>
