<div class="bg-indigo-100 flex flex-col max-lg:px-6 max-lg:py-2 max-md:mx-1 px-8 py-4 m-4  ">
    <h2 class="text-black font-serif text-2xl mb-4">What is Losmonos?</h2>
    <div class="flex gap-6 max-lg:flex-col mb-9">
        <div class="w-1/2 max-lg:w-full flex flex-col justify-between max-lg:space-y-6">
            <div>
                <h2 class="font-semibold text-md border border-l-green-600 border-l-2 pl-1 mt-2 mb-3">Creativity</h2>
                <p class="leading-7">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex esse commodi rem, eaque temporibus nihil.
                    Totam voluptas illo hic laborum temporibus, veritatis possimus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum deserunt id dicta ducimus. Provident eum
                    neque explicabo ipsa possimus, a eos voluptatum, et perspiciatis fugit incidunt ea nisi earum aliquam?
                </p>
            </div>
            <div>
                <button class="bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-blue-700 duration-200 max-lg:hidden">
                    View more
               </button>
            </div>
        </div>
        <div class="w-1/2 flex items-center justify-center max-lg:w-full">
            <img class="rounded-3xl w-5/5" src="images/factory.jpg" alt="Logo">
        </div>
        <button class="bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-blue-700 duration-200 lg:hidden mb-3 mt-1">
            View more
       </button>
    </div>

    <div class="flex gap-6 max-lg:flex-col flex-row-reverse my-9">
        <div class="w-1/2 max-lg:w-full flex flex-col justify-between items-end max-lg:space-y-6">
            <div>
                <h2 class="font-semibold text-md border border-l-green-600 border-l-2 pl-1 mt-2 mb-3">Working atmosphere</h2>
                <p class="leading-7">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex esse commodi rem, eaque temporibus nihil.
                    Totam voluptas illo hic laborum temporibus, veritatis possimus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, eius nulla voluptatum iure reprehenderit, inventore consequuntur corrupti officia laboriosam,
                    ab aspernatur vel dolorem. Nam ducimus nulla qui dolorem officiis blanditiis sint voluptas doloremque autem fugit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolor officia cumque?

                </p>
            </div>
            <div>
                <button class="bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-blue-700 duration-200 max-lg:hidden">
                    View more
               </button>
            </div>
        </div>
        <div class="w-1/2 flex items-center justify-center max-lg:w-full">
            <img class="rounded-3xl w-5/5" src="images/factory-space.jpg" alt="Logo">
        </div>
        <button class="bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-blue-700 duration-200 lg:hidden mb-3 mt-1">
            View more
       </button>
    </div>

    <div class="flex gap-6 max-lg:flex-col mt-14">
        <div class="w-1/2 max-lg:w-full flex flex-col max-lg:space-y-6">
            <div>
                <h2 class="font-semibold text-md border border-l-green-600 border-l-2 pl-1 mt-2 mb-3">Why us?</h2>
                <p class="leading-7 lg:max-w-md">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex esse commodi rem, eaque temporibus nihil.
                    Totam voluptas illo hic laborum temporibus, veritatis possimus.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum deserunt id dicta ducimus. Provident eum
                    neque explicabo ipsa possimus, a eos voluptatum, et perspiciatis fugit incidunt ea nisi earum aliquam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa harum, recusandae earum possimus soluta
                    repudiandae quo aut enim! Et corporis eum officia quae reprehenderit, magnam blanditiis magni atque similique nostrum,
                    ab inventore iste autem suscipit culpa.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, in! At vel, libero voluptatum placeat excepturi ratione aliquam cupiditate quaerat.
                </p>
            </div>
            <div class="mt-10">
                <button class="bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-blue-700 duration-200 max-lg:hidden">
                    View more
               </button>
            </div>
        </div>
        <div class="w-1/2 flex items-start justify-center max-lg:w-full">
            <img class="rounded-3xl w-4/5 h-4/5" src="images/far-looking-factory.jpg" alt="Logo">
        </div>
        <button class="bg-gray-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg hover:bg-blue-700 duration-200 lg:hidden mb-3 mt-1">
            View more
       </button>
    </div>
</div>

<div class="flex flex-col space-y-12 mx-6 my-12">
    <div class="flex justify-center">
        <p class="shadow-md shadow-slate-500 rounded-lg font-bold px-4 py-2 text-black">what do people say about Losmonos?</p>
    </div>
    <div class="flex lg:space-x-5 max-lg:flex-col max-lg:space-y-4">
        <div class="flex flex-col w-1/3 items-center text-center space-y-4 max-lg:w-full">
            <div>
                <img src="images/random1.jpg" alt="Lissa" class="rounded-full max-w-36">
                <p class="font-bold mt-1">Lissa dolor</p>
            </div>
            <p class="rounded-xl bg-slate-500 text-white font-sans font-semibold p-4 lg:min-h-32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magnam cupiditate architecto neque? Cumque, consequatur! Autem aspernatur quos </p>
        </div>
        <div class="flex flex-col w-1/3 items-center text-center space-y-4 max-lg:w-full">
            <div>
                <img src="images/random2.jpg" alt="Adam" class="rounded-full max-w-36">
                <p class="font-bold mt-1">Adam Scotia</p>
            </div>
            <p class="rounded-xl bg-slate-500 text-white font-sans font-semibold p-4 lg:min-h-32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ad velit eaque ullam necessitatibus ducimus quidem facilis autem?</p>
        </div>
        <div class="flex flex-col w-1/3 items-center text-center space-y-4 max-lg:w-full">
            <div>
                <img src="images/random3.jpg" alt="" class="rounded-full max-w-36">
                <p class="font-bold mt-1">William polauny</p>
            </div>
            <p class="rounded-xl bg-slate-500 text-white font-sans font-semibold p-4 lg:min-h-32">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, voluptate tempore. Magnam, illo dignissimos vel consequuntur laborum minus neque. Et, officiis.</p>
        </div>
    </div>
</div>
