<section class="flex flex-col space-y-10 px-10">
    <h2 class="font-semibold text-md border border-l-green-600 border-l-2 pl-1 text-2xl">Our Products</h2>
    <div class="flex justify-between items-center space-x-3 overflow-x-auto">
        @for (image of images; track $index) {
            <div class="flex flex-col space-y-3">
                <img class="max-w-[25rem] rounded-md" src="{{image}}" alt="Camera">
                <p>Solid camera</p>
            </div>
        }
    </div>
</section>
